html
    head
        title In the space
        style
            include animation.css
    body
        div#large-header.large-header
            canvas#demo-canvas
            h1.main-title Welcome 
                span.thin Space Traveller!
            include foot.pug
        script(src='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/EasePack.min.js')
        script(src='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/rAF.js')
        script(src='https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/TweenLite.min.js')
        script
            include animation.js


            
            
            